<h1><%= @kitten.name %></h1>
<h4><%= @kitten.age %></h4>
<h4><%= @kitten.cuteness %></h4>
<h4><%= @kitten.softness %></h4>
<%= link_to 'Delete', kitten_path(@kitten), data: { turbo_method: "delete" } %>
